<div class="home-banner">
  <%#= image_tag ("banner.jpg")   %>
  <h1 class="animation slideDown bold-txt">Let's make awsome garden ! Find your favorite garden among ours or make your own .. </h1>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1>All our gardens</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <p>All <%= Garden.count %> gardens.</p>
    </div>
  </div>

  <div class="row">
    <% @gardens.each do |garden| %>
      <div class="col-4">
        <div class="garden-card">
          <div class="garden-card-image" style="background-image: url('<%= garden.banner_url %>')"></div>
          <div class="garden-card-content">
            <div class="garden-card-title">
              <h4><%= garden.name %></h4>
            </div>

          </div>
          <div class="garden-card-actions">
            <%= link_to garden_path(garden) do %>
            <i class="fas fa-info" style="color: #1EDD88"></i>
            <% end %>&nbsp;
            <%= link_to edit_garden_path(garden) do %>
            <i class="fas fa-edit" style="color: #1EDD88"></i>
            <% end %>&nbsp;
            <%= link_to garden_path(garden), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="far fa-trash-alt" style="color: #1EDD88"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
